#==============================================================================#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#==============================================================================#

*.diff
*.patch
*.orig
*.rej

*~
.#*
*#

*.flt
*.gmo
*.info
*.o
*.ko
*.obj
*.elf
*.pyc
*.swp
*.tmp

*.a
*.la
*.lo
*.lib

*.so
*.so.*
*.dylib
*.dll

*.out
*.app
*.exe
*.i*86
*.x86_64
*.hex

.deps
.libs

*.gch
*.pch

autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
POTFILES
*-POTFILES

tags
TAGS
TAGS.sub

.gdbinit
.gdb_history

tests/*.log
build/

# ignore core files, but not java/net/protocol/core/
core
!core/

lost+found

